<h2>Vehicles</h2>
<ng-container *ngIf="(entityState | async) as page">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of page.content">
        <th scope="row">{{ v.id }}</th>
        <td>{{ v.brand }}</td>
        <td>{{ v.model }} ({{ v.year }})</td>
        <td><a class="bi bi-folder-symlink"></a></td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" *ngIf="page.totalPages > 1">
    <ul class="pagination">

      <li
        *ngFor="
          let pageNumber of [].constructor(page.totalPages);
          let i = index
        "
        class="page-item"
      >
         <a class="page-link" (click)="switchPage(i)">{{ i + 1 }}</a>
      </li>

    </ul>
  </nav>
</ng-container>
