<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <input type="hidden" id="vehicleVersion" formControlName="version" />
  <div class="form-group">
    <label for="brandFormControl">Brand</label>
    <select
      class="form-control"
      id="brandFormControl"
      formControlName="brandId"
      (change)="onBrandChange()"
    >
      <option [ngValue]="null" disabled>Select brand</option>
      <option *ngFor="let b of brands" [ngValue]="b.brandId">
        {{ b.brandName }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="modelFormControl">Model</label>
    <select class="form-control" id="modelFormControl" formControlName="modelId" (change)="onModelChange()">
      <option [ngValue]="null" disabled>Select model</option>
      <option *ngFor="let m of models" [ngValue]="m.modelId">{{ m.modelName }}({{ m.modelYear }})</option>
    </select>
  </div>

  <div class="form-group">
    <label for="yearFormControl">Year</label>
    <input
      type="text"
      class="form-control"
      id="yearFormControl"
      formControlName="modelYear"
    />
  </div>

  <div class="form-group">
    <label for="vinFormControl">VIN</label>
    <input
      type="text"
      class="form-control"
      id="vinFormControl"
      formControlName="vin"
    />
  </div>

  <div class="form-group">
    <label for="priceFormControl">Price</label>
    <input
      type="text"
      class="form-control"
      id="priceFormControl"
      formControlName="price"
    />
  </div>

  <button type="button" (click)="onReset()" class="btn btn-secondary me-2 mt-2">Cancel</button>
  <button type="submit" class="btn btn-primary me-2 mt-2">Save</button>
</form>
