<h2>Contracts</h2>

<ng-container *ngIf="(pageState | async) as page">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Contract No</th>
        <th scope="col">Customer</th>
        <th scope="col">Vehicle</th>
        <th scope="col">VIN</th>
        <th scope="col">Monthly Rate</th>
        <th scope="col">Vehicle Price</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of page.content">
        <th scope="row">{{ c.contract.id }}</th>
        <td>{{ c.contract.contractNumber }}</td>
        <td>{{ c.customer.firstName }} {{c.customer.lastName}}</td>
        <td>{{ c.vehicle.brandName }} {{c.vehicle.modelName }} ({{ c.vehicle.modelYear }})</td>
        <td>{{ c.vehicle.vin ?? '-' }}</td>
        <td>{{ c.contract.monthlyRate | currency: "EUR" }}</td>
        <td>{{ c.vehicle.price | currency: "EUR" }}</td>
        <td><a class="bi bi-folder-symlink" [routerLink]="['/contracts', c.contract.id]"></a></td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" *ngIf="page.totalPages > 1">
    <ul class="pagination">

      <li
        *ngFor="
          let pageNumber of [].constructor(page.totalPages);
          let i = index
        "
        class="page-item"
      >
         <a class="page-link" (click)="switchPage(i)">{{ i + 1 }}</a>
      </li>

    </ul>
  </nav>
  <a class="btn btn-primary" [routerLink]="['/contracts', 'new']" role="button">Add new</a>
</ng-container>
