<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="hidden" id="customerVersion" formControlName="version" />
  <div class="form-group">
    <label for="firstNameFormControl">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstNameFormControl"
      formControlName="firstName"
      [class.is-invalid]="
        customerForm.get('firstName')?.invalid &&
        customerForm.get('firstName')?.touched
      "
    />
    <div
      class="invalid-feedback"
      *ngIf="customerForm.get('firstName')?.invalid"
    >
      <ul>
        <li *ngIf="customerForm.get('firstName')?.errors?.['required']">
          Required
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="lastNameFormControl">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastNameFormControl"
      formControlName="lastName"
      [class.is-invalid]="
        customerForm.get('lastName')?.invalid &&
        customerForm.get('lastName')?.touched
      "
    />
    <div class="invalid-feedback" *ngIf="customerForm.get('lastName')?.invalid">
      <ul>
        <li *ngIf="customerForm.get('lastName')?.errors?.['required']">
          Required
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="birthDateFormControl">Birthdate</label>
    <input
      type="date"
      class="form-control"
      id="birthDateFormControl"
      formControlName="birthDate"
      [class.is-invalid]="
        customerForm.get('birthDate')?.invalid &&
        customerForm.get('birthDate')?.touched
      "
    />
    <div
      class="invalid-feedback"
      *ngIf="customerForm.get('birthDate')?.invalid"
    >
      <ul>
        <li *ngIf="customerForm.get('birthDate')?.errors?.['required']">
          Required
        </li>
      </ul>
    </div>
  </div>

  <button type="button" (click)="onReset()" class="btn btn-secondary me-2 mt-2">
    Cancel
  </button>
  <button type="submit" class="btn btn-primary me-2 mt-2">Save</button>
</form>
