
<mat-toolbar color="primary">
  Allana SE demo app
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav-content">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/contracts']">Contracts</a>
      <a mat-list-item [routerLink]="['/vehicles']">Vehicles</a>
      <a mat-list-item [routerLink]="['/customers']">Customers</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


